{
    order reverse_proxy before header
    admin off
}

xx.yy { //修改成自己的域名
    tls {
        ciphers TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
        alpn h2 http/1.1
    }
    log {
        output file /var/log/caddy/access.log
        level  ERROR
    }
    @sws { //匹配器标签。此标签仅区分，多个不同代理需要改成不同名称，但要与下边‘reverse_proxy’中匹配器标签对应。
        path /8ALdGZ9k  //与socks-ws或shadowsocks-ws应用中path对应
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @sws 127.0.0.1:2008 //转发给本机socks-ws或shadowsocks-ws应用对应端口
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" //启用HSTS
    }
    file_server {
        root /var/www/html //修改成自己存放的web文件路径
    }
}
