global
	log /dev/log	local0
	log /dev/log	local1 notice
	# chroot /var/lib/haproxy #注释掉，让下边进程路径为实际设置的。
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user root
	group root
	daemon

defaults
	log	global
	mode	tcp
	option	tcplog
	option	dontlognull
        timeout connect 5s
        timeout client  300s
        timeout server  300s

frontend sni_proxy
	mode tcp
        bind *:443
        tcp-request inspect-delay 5s
        tcp-request content accept if { req.ssl_hello_type 1 }

        acl acl_vless req_ssl_sni -i zv.xx.yy #zv.xx.yy修改成自己规划对应vless+tcp的域名
        acl acl_trojan req_ssl_sni -i zt.xx.yy #zt.xx.yy修改成自己规划对应trojan+tcp的域名
        acl acl_naive req_ssl_sni -i zc.xx.yy #zc.xx.yy修改成自己规划对应naiveproxy的域名

        use_backend vless if acl_vless
        use_backend trojan if acl_trojan
        use_backend naive if acl_naive

backend vless
        server vps_name /dev/shm/vless.sock #对应vless+tcp进程

backend trojan
        server vps_name /dev/shm/trojan.sock #对应trojan+tcp进程

backend naive
        server vps_name /dev/shm/naive.sock #对应naiveproxy进程
