#若不需要naiveproxy应用，修改配置文件中如下参数。
#原配置：
#.........<省略>........
	order forward_proxy before map
	order reverse_proxy before forward_proxy
#.........<省略>........
	forward_proxy {
		basic_auth user pass #naiveproxy用户与密码，更改为自己的。
		hide_ip
		hide_via
		probe_resistance
	}
#.........<省略>........

#以上配置修改为如下：
#.........<省略>........
	order reverse_proxy before map
#.........<省略>........
#<删除forward_proxy参数>
#.........<省略>........
