#使用多组域名实现CDN应用与正常应用共存配置
#原配置参数：
#.........<省略>........
        acl acl_vless req_ssl_sni -i zv.xx.yy #zv.xx.yy更改为自己规划对应vless+tcp+tls的域名
        acl acl_trojan req_ssl_sni -i zt.xx.yy #zt.xx.yy更改为自己规划对应trojan-go\trojan的域名
        acl acl_https req_ssl_sni -i zh.xx.yy #zh.xx.yy更改为自己规划对应https server的域名
#.........<省略>........

#以上参数修改如下：
#.........<省略>........
        acl acl_vless req_ssl_sni -i zv.xx.yy #zv.xx.yy更改为自己规划对应vless+tcp+tls的域名
        acl acl_trojan req_ssl_sni -i zt.xx.yy #zt.xx.yy更改为自己规划对应trojan-go\trojan的域名
        acl acl_https req_ssl_sni -i zh.xx.yy #zh.xx.yy更改为自己规划对应https server的域名
        acl acl_vless req_ssl_sni -i z1.xx.yy #z1.xx.yy更改为自己规划对应vless+ws+tls与SS+v2ray-plugin+tls的CDN应用域名
        acl acl_https req_ssl_sni -i z3.xx.yy #z3.xx.yy更改为自己规划对应vless+grpc+tls的域名
#.........<省略>........
#注意：
#1、如域名使用通配符或SAN证书及密钥，除上面修改外无需其它调整。
#2、如域名使用caddy申请普通证书及密钥（详见Xray_naive_caddy.json）。caddy需增加上述域名证书申请及限定域名访问；还必须在Xray\v2ray配置中增加两组证书及密钥配置，及更改为caddy申请的证书及密钥路径（详见CDN_patch_v2ray_config.json）。
#3、如域名使用第三方申请普通证书及密钥；太麻烦，不推荐，也不提供方法。
