#若不需要naiveproxy应用，删除各自naive_Caddyfile配置文件中如下参数即可。
#.........<省略>........
    order forward_proxy before header
#.........<省略>........

    forward_proxy {
        basic_auth user pass //naiveproxy账号与密码，更改为自己的。
        hide_ip
        hide_via
        probe_resistance unsplash.com:443
    }
#.........<省略>........
