#一、开放式文件服务器应用配置
#配置1
#.........<省略>........
    @host {
        host xx.yy #限定域名访问（禁止以ip方式访问网站），更改为自己的域名。
    }
    header @host {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" #启用HSTS
    }
    file_server @host {
        root /home/file #更改为自己的文件服务器存放文件路径
        browse #启用文件列表
    }
#.........<省略>........

#配置2
#.........<省略>........
    @host2 {
        host xx.yy #限定域名访问（禁止以ip方式访问网站），更改为自己的域名。
    }
    route @host2 {
        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" #启用HSTS
        }
        file_server {
            root /home/file #更改为自己的文件服务器存放文件路径
            browse #启用文件列表
        }
    }
#.........<省略>........
#备注：
#1、同一个域名下，文件服务器与回落或代理网站不能共存，所有示例的回落或代理网站可参考上面“#配置1”调整为开放式文件服务器应用配置。
#2、不同一个域名下，原回落或代理网站配置使用route合并核心配置（参考上面“#配置2”配置），再增加上面“#配置2”配置，两配置并行。另外同步调整域名或证书及密钥。


#二、验证式文件服务器应用配置
#配置1
#.........<省略>........
    @host {
        host xx.yy #限定域名访问（禁止以ip方式访问网站），更改为自己的域名。
    }
    header @host {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" #启用HSTS
    }
    basicauth @host { #可以设置多组验证用户及密码
        user JDJhJDE0JGMzclpVMkU4bVhMRVRXY0o2a2pmMnVGUDNqcGxGZ3ByY1ZTMEVDbi80N1M0NE93NUZXZXNl #验证用户与哈希密码，以base64编码。示例为password的哈希密码。
    }
    file_server @host {
        root /home/file #更改为自己的文件服务器存放文件路径
        browse #启用文件列表
    }
#.........<省略>........

#配置2
#.........<省略>........
    @host2 {
        host xx.yy #限定域名访问（禁止以ip方式访问网站），更改为自己的域名。
    }
    route @host2 {
        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" #启用HSTS
        }
        basicauth { #可以设置多组验证用户及密码
            user JDJhJDE0JGMzclpVMkU4bVhMRVRXY0o2a2pmMnVGUDNqcGxGZ3ByY1ZTMEVDbi80N1M0NE93NUZXZXNl #验证用户与哈希密码，以base64编码。示例为password的哈希密码。
        }
        file_server {
            root /home/file #更改为自己的文件服务器存放文件路径
            browse #启用文件列表
        }
    }
#.........<省略>........
#备注：
#1、同一个域名下，文件服务器与回落或代理网站不能共存，所有示例的回落或代理网站不建议参考上面“#配置1”调整为验证式文件服务器应用配置。
#2、不同一个域名下，原回落或代理网站配置使用route合并核心配置（参考上面“#配置2”配置），再增加上面“#配置2”配置，两配置并行。另外同步调整域名或证书及密钥。


#三、验证式webdav服务器应用配置
#.........<省略>........
    @host2 {
        host xx.yy #限定域名访问（禁止以ip方式访问网站），更改为自己的域名。
        not method GET
    }
    route @host2 {
        basicauth { #可以设置多组验证用户及密码
            user JDJhJDE0JGMzclpVMkU4bVhMRVRXY0o2a2pmMnVGUDNqcGxGZ3ByY1ZTMEVDbi80N1M0NE93NUZXZXNl #验证用户与哈希密码，以base64编码。示例为password的哈希密码。
        }
        webdav {
            root /home/webdav #更改为自己的webdav服务器存放文件路径
        }
    }
#.........<省略>........
#备注：
#1、修改/home/webdav的webdav权限为0777，以便客户端具有写入及删除文件权限。
#2、同一个域名下，文件服务器与回落或代理网站可以共存，原回落或代理网站配置使用route合并核心配置（参考上面配置），再增加上面配置，两配置并行。另外同步调整域名或证书及密钥。
#3、用caddy hash-password --plaintext <password>命令把普通密码转化为哈希密码并输出base64。例如：/usr/bin/caddy hash-password --plaintext password


#四、开放式文件服务器+验证式webdav服务器融合应用配置
#.........<省略>........
    @host2 {
        host zz.xx.yy #限定域名访问（禁止以ip方式访问网站），更改为自己的域名。
    }
    route @host2 {
        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" #启用HSTS
        }
        root * /home/webdav #更改为自己的服务器存放文件路径
        @webdav {
            not method GET
        }
        route @webdav {
            basicauth { #可以设置多组验证用户及密码
                user JDJhJDE0JGMzclpVMkU4bVhMRVRXY0o2a2pmMnVGUDNqcGxGZ3ByY1ZTMEVDbi80N1M0NE93NUZXZXNl #验证用户与哈希密码，以base64编码。示例为password的哈希密码。
            }
            webdav
        }
        file_server browse
    }
#.........<省略>........
#备注：
#1、此组合应用适合为大众提供文件分享及专业的后台管理服务。
#2、修改/home/webdav的webdav权限为0777，以便客户端具有写入及删除文件权限。
#3、所有示例的回落或代理网站可调整为上边开放式文件服务器+验证式webdav服务器融合应用配置。
#4、用caddy hash-password --plaintext <password>命令把普通密码转化为哈希密码并输出base64。例如：/usr/bin/caddy hash-password --plaintext password


#五、验证式文件服务器+验证式webdav服务器融合应用配置
#.........<省略>........
    @host2 {
        host zz.xx.yy #限定域名访问（禁止以ip方式访问网站），更改为自己的域名。
    }
    route @host2 {
        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" #启用HSTS
        }
        basicauth { #可以设置多组验证用户及密码
            user JDJhJDE0JGMzclpVMkU4bVhMRVRXY0o2a2pmMnVGUDNqcGxGZ3ByY1ZTMEVDbi80N1M0NE93NUZXZXNl #验证用户与哈希密码，以base64编码。示例为password的哈希密码。
        }
        root * /home/webdav #更改为自己的服务器存放文件路径
        @webdav {
            not method GET
        }
        webdav @webdav
        file_server browse
    }
#.........<省略>........
#备注：
#1、此组合应用适合为个人或特定人群提供专业文件管理服务。
#2、修改/home/webdav的webdav权限为0777，以便客户端具有写入及删除文件权限。
#3、所有示例的回落或代理网站不建议调整为上边验证式文件服务器+验证式webdav服务器融合应用配置。
#3、所有示例的回落或代理网站不建议调整为上边验证式文件服务器+验证式webdav服务器融合应用配置，因为网站无法达到流量伪装与防探测了。建议增加域名来对应融合应用，实现与原示例的回落或代理网站应用共存（原回落或代理网站配置使用route合并核心配置，再增加上面配置，两配置并行。）；另外同步调整域名或证书及密钥。
#4、用caddy hash-password --plaintext <password>命令把普通密码转化为哈希密码并输出base64。例如：/usr/bin/caddy hash-password --plaintext password
