[Unit]
Description=Hysteria Service
Documentation=https://github.com/HyNetwork/hysteria/wiki
After=network.target

[Service]
User=root //以 root 用户运行。若修改，请修改为相应权限的用户。
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true
ExecStart=/usr/local/bin/hysteria/hysteria server --config /usr/local/etc/hysteria/config.yaml
Restart=on-failure
RestartPreventExitStatus=1
RestartSec=5

[Install]
WantedBy=multi-user.target
